{% extends 'base.html' %}
{% load static %}
{% load feed_extras %}

{% block content %}
    <div class="col-25">
        <div class="controls">
            <h3>Cacher:</h3>
            <div class="controls__group">
                <input type="checkbox" id="chk_hide_reviews" onclick="showHide('.review')">
                <label for="chk_hide_reviews">Critiques</label>
            </div>
            <div class="controls__group">
                <input type="checkbox" id="chk_hide_tickets" onclick="showHide('.ticket')">
                <label for="chk_hide_tickets">Demandes</label>
            </div>
            <div class="controls__group">
                <input type="checkbox" id="chk_hide_reviewed_tickets" onclick="showHide('.reviewed')">
                <label for="chk_hide_reviewed_tickets">Demandes répondues</label>
            </div>
        </div>
    </div>
    <div class="main">
        {% if user.is_authenticated %}
            <a href="{% url 'user_profile' user.username %}">
                {% if user.profile_photo %}
                    <img class="profile-pic" src="{{ user.profile_photo.url }}">
                {% else %}
                    <img class="profile-pic" src="{% static 'img/default_profile.png %}">
                {% endif %}
            </a>
        <p>Bienvenue, <b>{{ request.user }}</b> !</p>
        {% endif %}
        <div class="container">
            <a href="{% url 'create_ticket' %}">
                <button class="btn">Demander une critique</button>
            </a>
            <a href="{% url 'create_ticket_and_review' %}">
                <button class="btn">Publier une critique</button>
            </a>
        </div>
        {% if '/feed/' in request.path %}
            <h2>Mon flux</h2>
        {% else %}
            <h2>Posts</h2>
        {% endif %}

            {% for instance in page_obj %}
                {% if instance|model_type == 'Ticket' %}
                    <div class="container__feed ticket {% if instance.has_review %}reviewed{%endif%}">
                        <div class="user_date">
                            <div class="user_infos">
                                {% include 'feed/partials/user_infos_snippet.html' with user=instance.user %}
                                <p><a href="{% url 'user_profile' instance.user.username %}">
                                    <strong>{{ instance.user.username }}</strong></a> a demandé une critique</p>
                            </div>
                            <p>{{ instance.time_created }}</p>
                        </div>
                        {% include 'feed/partials/ticket_snippet.html' with ticket=instance %}
                        <div class="container_buttons">
                            {% if instance.user == request.user %}
                                <a href="{% url 'edit_ticket' instance.id %}">Éditer / Supprimer la demande</a>
                            {% endif %}
                            {% if instance.user == False %}
                                <a href="{% url 'create_review' instance.id %}">
                                    <button class="btn">Poster une critique</button>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% elif instance|model_type == 'Review' %}
                    <div class="container__feed review">
                        {% include 'feed/partials/review_snippet.html' with review=instance %}
                        {% if instance.user == request.user %}
                            <a href="{% url 'edit_review' instance.id %}">Éditer / Supprimer la critique</a>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        <span>
            {% if page_obj.has_previous %}
                <a href="?page=1">« première</a> |
                <a href="?page={{ page_obj.previous_page_number }}">← précédente</a>
            {% endif %}

            <span>
                Page {{ page_obj.number }} sur {{ page_obj.paginator.num_page }}.
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">suivante →</a> |
                <a href="?page={{ page_obj.paginator.num_pages }}">dernière »</a>
            {% endif %}
        </span>
    </div>

    <div class="col-25"></div>
{% endblock content %}

