{% extends 'base_layout.html' %}
{% load crispy_forms_tags %}

{% block content %}
<!-- abonnement page -->
<div class="container main">
  <div class="container justify-content-center">
    <div class="" style="margin-bottom: 30px;">
        {% if request.user.username == requested_user.username %}
          <h3 style="width:100%; text-align:center;" >Suivre d'autres utilisateurs</h3>
          <div class="form__search">
              <form class="lined__up__form" method="post">
                  {{ search_form.as_p }}
                    {% csrf_token %}
                  <input class="btn btn-sm btn-primary" type="submit" value="Rechercher">
              </form>
          </div>
          {% if searched_user_resp %}
              <div class="user-follower__user">
                  <div class="user-follower">
                      <p>                       
                          <strong>{{searched_user_resp.username }}</strong>                        
                      </p>
                  </div>
                  <div class="user-follower">
                      <form method="post">
                          {{ searched_user_btn.as_p }}
                          {% csrf_token %}
                          <input class="btn  btn-success btnfitted_to_label" type="submit" name="follow" value="S'abonner">                          
                      </form>
                  </div>
              </div>
          {% endif %}
        {% endif %}


    </div>

    {% if followed_users %}
    <div style="margin-bottom: 30px;">
      <form method="post">
      {% csrf_token %}
        <h4> {{ request.user }} is following: </h4>
        {% for followed_user in followed_users %}
        <table class="table ">
          <tbody>
            <tr>
              <td class="spacing__div"> 
                
                
                  <span>{{ followed_user.followed_user.username }} </span>
                  <button type="submit" class="btn btn-warning btn-sm btnfitted_to_label pull__to__right" name="unfollow" value="{{ followed_user.followed_user.id }}" style="margin: 3px"> Se Désabonner </button>
            
                  
              </td>
            </tr>
          </tbody>
        </table>
        {% endfor %}
      </form>
    </div>
    {% endif %}

    {% if followed_by_others %}
    <div>
      <form method="post">
      {% csrf_token %}
        <h4> You are being followed by: </h4>
        {% for user in followed_by_others %}
          <table class="table ">
            <tbody>
              <tr>
                <td> {{ user.user.username }} </td>
              </tr>
            </tbody>
          </table>
        {% endfor %}
      </form>
    </div>
    {% endif %}

  </div>
</div>
<!-- End of abo page -->
{% endblock %}