{% extends 'base_layout.html' %}
{% load static crispy_forms_tags %}

{% block content %}
<!-- modify review/ticket page -->
<div class="container main">
  <div class="row justify-content-center">
    <div class="col-md-9">
      <div class="card border-dark my-3" style="background-color: #e3f2fd;">
        <div class="card-body bg-transparent ">
          <h4 class="card-subtitle text-center py-2"> Modify a review: </h4>
          <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
            {{ review_form|crispy }}
            <hr>
            {% if ticket_form %}
              {{ ticket_form|crispy }}
            {% else %}
              <div class="card border-dark bg-light">
                <div class="card-body">
                  <p> posted by <strong>{{ instance_review.ticket.user }}</strong> <small 
                    style="float: right;"> {{ instance_review.ticket.time_created }} </small> </p>
                  <hr>
                  <div style="display: flex;">
                    <img src="{% get_media_prefix %}{{ instance_review.ticket.image }}" alt="
                    {{ instance_review.ticket.title }}" class="img-fluid img-border">
                    <div style="margin-left: 30px;">
                      <div style="margin-bottom: 15px;">
                        <h4> {{ instance_review.ticket.title }} </h4>
                      </div>
                      <div>
                        <p> {{ instance_review.ticket.description }} </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
            <div style="display: flex; justify-content: space-between;">
              <button type="submit" class="btn btn-primary margin-btn"> Save </button>
              <a href="{% url 'review:posts_page' %}" role="button" class="btn btn-secondary 
              margin-btn"> Cancel </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of modify review/ticket page -->
{% endblock %}