html {
    background-image: url("../img/paper2.jpg");
    background-size: 40%;
    background-repeat: repeat;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.btn {
    display: block;
    font-family: "typewriter_condensedregular";
    color: #000;
    font-size: medium;
    font-weight: bold;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.5);
    border: solid 1px #000;
    border-radius: 2px;
    transition: all 0.3s;
    margin: 2px 2px 2px 2px; 
}
.btn:hover {
    cursor: pointer;
    color: #c49b38;
}

.logo {
    display: inline-block;
    width: 80px;
    height: 80px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .header__right {
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
header .header__center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}