{% load feed_extras %}

<div class="user_date">
    <div class="user_infos">
        {% include 'feed/partials/user_infos_snippet.html' with user=review.user %}
        <p><a href="{% url 'user_profile' review.user.username %}"><strong>{{
            review.user.username }}</strong></a>a publié une critique</p>
    </div>
    <p>{{ review.time_created }}</p>
</div>
<h3>{{ review.headline }} - {% for i in 0|range:review.rating %}<i class="fas fa-star"></i>{% 
    endfor %}</h3>
<p>{{ review.body }}</p>
<hr>
<div class="container__ticket">
    {% include 'feed/partials/ticket_snippet.html' with ticket=review.ticket %}
</div>
